*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.bigElement {
	width: 450px;
    height: 447px;
    border: none;
    margin-top: 50px;
    padding: 5PX;
    margin-left: 363px;
}
.el_No {
	display: inline-block;
	width: 146px;
        height: 127px;
	margin-top: -4px;
	border: 1px solid black;
}



.Undo {
	width: 100px;
	height: 30px;
	margin-left: 115px;
	margin-top: 15px;
	border: 1px solid #0170FF;
	border-radius: 25px;
	background-color: transparent;
	font-size: 18px;
	color: #0170FF;
}

.Restart {
	width: 100px;
	height: 30px;
	margin-top: 15px;
	border: 1px solid #0170FF;
	border-radius: 25px;
	background-color: transparent;
	font-size: 18px;
	color: #0170FF;
}


